body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 50px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.subtitle {
    color: burlywood; /* This sets the text color to a shade of blue */
}

.image-container {
    width: 200px; /* Set the width and height of the container */
    height: 200px;
    /*overflow: hidden;   /* Hide any parts of the image that extend beyond the container */
}

.image-container4 {
    width: 200px; /* Set the width and height of the container */
    height: 200px;
    /*overflow: hidden;   /* Hide any parts of the image that extend beyond the container */
}

.image-container2 {
    width: 200px; /* Set the width and height of the container */
    height: 200px;
    /*overflow: hidden;   /* Hide any parts of the image that extend beyond the container */
}

.image-container3 {
    width: 200px; /* Set the width and height of the container */
    height: 200px;
    /*overflow: hidden;   /* Hide any parts of the image that extend beyond the container */
}
  
img {
    transition: transform 0.3s; /* Add a smooth transition effect */
}

.image-container:hover img {
    transform: rotate(20deg); /* Rotate the image 20 degrees on hover */
}

.image-container2:hover img {
    transform: rotate(20deg); 
}

.image-container3:hover img {
    transform: rotate(20deg); 
}

.image-container4:hover img {
    transform: rotate(20deg); 
}

.image-container,
.image-container2,
.image-container3,
.image-container4 {
  display: inline-block; /* Set the display property to inline-block */
  margin-right: 20px; /* Add some margin to create space between elements */
}

.Playpen-font {
    font-family: 'Playpen+Sans';
  }

  p {
    font-family: 'Ubuntu';
  }
